%ul.photoList
  - @list.items_for_page(@page).each do |photo|
    %li<>
      %h2<
        &= photo.title
      %a{ href: url(photo_page_path(photo, @tag)) }
        %img{ src: url(small_photo_path(photo)), alt: photo.title }

= paginator(@page, @list)
