<section>
  <ul><!-- display: inline-block doesn't play nicely with spaces between elements
    <% @photo_list.photos.each do |photo| %>
      --><li>
        <h2><%= h(photo.title) %></h2>
        <a href="/<%= u(photo.uuid) %>"><%= small_image(photo) %></a>
      </li><!--
    <% end %>
  --></ul>
</section>
