body {
  text-align: center;
  font-family: Helvetica sans-serif;
  color: #505050;
  background: #333;
}

header {
  text-align: left;
  font-size: 2em;
}

header a {
  text-decoration: none;
  color: #505050;
}

#primaryNav {
  box-sizing: border-box;
  background: #333;
  margin: 0 0 0.5em 0;
  color: white;
}

  #primaryNav ul {
    list-style-type: none;
    text-align: left;
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0;
    height: 100%;
  }

  #primaryNav li {
    display: inline-block;
    width: 10em;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  #primaryNav li.selected {
    background: darkgray;
    color: #333;
  }

  #primaryNav li:last {
    border-right: none;
  }

.tag {
  float: right;
}

ul.photoList {

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

  ul.photoList li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    margin-right: -1px;
    border: 1px solid white;
    width: 300px;
    height: 301px;
  }

h1, h2 {
  font-size: 1em;
  text-align: left;
}

h2 {
  margin-top: 0;
}

article {
  box-sizing: border-box;
  width: 948px;
  margin: 20px auto 0 auto;
  background: darkgray;
  padding: 1em 20px 0.5em 20px;
}

@media all and (min-width: 1250px) {
  article {
    width: 1248px;
  }

  section {
    width: 950px;
  }
}

@media all and (min-width: 1560px) {
  article {
    width: 1548px;
  }

  section {
    width: 1250px;
  }
}

@media all and (min-width: 1850px) {
  article {
    width: 1848px;
  }

  section {
    width: 1550px;
  }
}

section {
  float: left;
  text-align: center;
}

  h1 {
    margin: 0.8em 0;
  }

  .photo {
    margin: auto;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

    .photo p {
      width: 30em;
      line-height: 1.3em;
      margin-top: 0;
    }

  .photo img {
    margin-bottom: 1em;
  }

aside {
  width: 250px;
  float: right;
}

#tags {
  width: auto;
  list-style-type: none;
  font-size: 0.9em;
  padding: 0;
  margin: 0.5em auto 0 auto;
  text-align: left;
}

  #tags li {
    position: relative;
    display: inline;
    padding: 0;
  }

  #tags a {
    display: inline-block;
    border: 1px solid #505050;
    border-radius: 1em 2em 2em 1em;
    padding: 0.2em 1.5em 0.2em 0.3em;
    text-decoration: none;
    color: #505050;
    font-weight: normal;
    margin: 0.2em 0.1em;
  }

  #tags a:hover {
    background: #505050;
    color: lightgrey;
  }

  #tags a.delete {
    position: absolute;
    opacity: 0;
    top: -2px;
    right: 2px;
    width: 12px;
    height: 15px;
    padding: 0 0 0 3px;
    border-radius: 1em 1em 1em 1em;
    font-size: 0.9em;
  }

  #tags a.delete:hover {
    opacity: 1;
    background: white;
    color: black;
    border: 1px solid red;
  }

#navigator {
  padding: 0;
  margin-bottom: 1em;
}

  #navigator a, #navigator .first, #navigator .last {
    width: 50%;
    height: 81px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
    opacity: 0.5;
    padding: 3px;
  }

  #navigator .first, #navigator .last {
    padding-top: 2em;
  }

  #navigator a:hover {
    opacity: 1;
  }

  #navigator a.previous, #navigator .first {
    padding-right: 10px;
    text-align: right;
    border-right: none;
    background: url('/images/arrow_left.png') no-repeat left;
  }

  #navigator a.next, #navigator .last {
    padding-left: 10px;
    text-align: left;
    border-left: none;
    background: url('/images/arrow_right.png') no-repeat right;
  }

#paginator {
  margin: auto;
  width: 15em;
  position: relative;
}

  #paginator a {
    opacity: 0.5;
    text-decoration: none;
    color: #505050;
  }

  #paginator a, #paginator .first, #paginator .last {
    display: inline-block;
    width: 40%;
    position: absolute;
  }

  #paginator a.previous, #paginator .first {
    background: url('/images/arrow_left.png') no-repeat left;
    padding-left: 10px;
    left: 0;
  }

  #paginator a.next, #paginator .last {
    background: url('/images/arrow_right.png') no-repeat right;
    right: 0;
  }

  #paginator .pageMarker {
    display: inline-block;
    width: 20%;
    position: absolute;
    left: 40%;
  }

  #paginator a:hover {
    opacity: 1;
  }

footer {
  clear: both;
  border-top: 3px solid white;
  text-align: right;
  padding-top: 0.5em;
  margin-top: 3em;
  font-size: 0.8em;
}
