body {
  text-align: center;
  font-family: Helvetica sans-serif;
  color: #505050;
  background: #444;
}

header {
  text-align: left;
  font-size: 2em;
}

header a {
  text-decoration: none;
  color: #505050;
}

#primaryNav {
  box-sizing: border-box;
  background: #444;
  margin: 0.25em 0 1em 0;
  color: darkgray;
}

  #primaryNav ul {
    list-style-type: none;
    text-align: left;
    padding: 0.5em 0.5em;
    margin: 0;
    height: 100%;
  }

  #primaryNav li {
    display: inline-block;
    width: 10em;
    border-right: 1px solid darkgray;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  #primaryNav li:last {
    border-right: none;
  }

    #primaryNav li a {
      display: block;
      padding: 0.5em 0;
      padding: 0;
      color: darkgray;
      text-decoration: none;
    }

    #primaryNav li a:hover {
      color: white;
      text-decoration: underline;
    }

    #primaryNav li.selected a {
      color: white;
      font-weight: bold;
    }

.tag {
  float: right;
}

ul.photoList, ul.tagList {

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

  ul.photoList li, ul.tagList li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    margin-right: -1px;
    border: 1px solid #999;
    width: 300px;
    height: 301px;
  }

  ul.photoList li:hover, ul.tagList li:hover {
    background: #bbb;
  }

    ul.photoList li .item, ul.tagList .item  {
      width: 100%;
      height: 100%;
    }

      ul.photoList li .item a, ul.tagList li .item a  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

  ul.photoList img {
    box-shadow: 1px 1px 3px 2px #888;
  }

ul.tagList {
}

  ul.tagList div.firstPhotos {
    box-sizing: border-box;
    border: 4px solid #888;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px 2px #999;
    background: #888;
    padding-top: 2px;
    width: 192px;
    height: 192px;
  }

  .noPhoto {
    background: #999;
  }

  ul.tagList .tag {
    font-size: 1.3em;
    margin-top: 0.5em;
  }

div.firstPhotos img, .noPhoto {
  box-sizing: border-box;
  display: inline-block;
  width: 88px;
  height: 88px;
  margin: 0;
}

ul.tagList a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-size: 1em;
  text-align: left;
}

h2 {
  margin-top: 0;
}

.navigator, aside {
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  padding: 10px;
  background: #bbb;
  height: 830px;
  box-shadow: 1px 1px 3px 2px #999;
}

.navigator {
  height: 150px;
  margin-bottom: 20px;
}

article {
  box-sizing: border-box;
  width: 948px;
  margin: 20px auto;
  background: darkgray;
  padding: 0.5em 20px 0.5em 20px;
}

@media all and (min-width: 1250px) {
  article {
    width: 1248px;
  }

  section {
    width: 930px;
  }
}

@media all and (min-width: 1560px) {
  article {
    width: 1548px;
  }

  section {
    width: 1230px;
  }
}

@media all and (min-width: 1850px) {
  article {
    width: 1848px;
  }

  section {
    width: 1530px;
  }
}

section {
  float: left;
  text-align: center;
}

  h1 {
    margin: 0.8em 0;
  }

  .photo {
    margin: auto;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

    .photo p {
      width: 30em;
      line-height: 1.3em;
      margin-top: 0;
    }

  .photo img {
    margin-bottom: 1em;
    box-shadow: 1px 1px 3px 2px #888;
  }

#tags {
  width: auto;
  list-style-type: none;
  font-size: 0.9em;
  padding: 0;
  margin: 0.5em auto 0.5em auto;
  text-align: left;
}

  #tags li {
    position: relative;
    box-sizing: border-box;
    display: inline;
    padding: 0;
  }

  #tags a {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 1em 2em 2em 1em;
    padding: 0.2em 1.3em 0.25em 0.4em;
    text-decoration: none;
    color: #505050;
    font-weight: normal;
    margin: 0.2em 0.1em;
    background: #ddd;
  }

  #tags a:hover {
    background: #505050;
    color: lightgrey;
  }

  #tags a.delete {
    position: absolute;
    opacity: 0;
    top: 1px;
    right: 0px;
    width: 6px;
    height: 10px;
    padding: 0 0 0 3px;
    border-radius: 1em 1em 1em 1em;
    font-size: 0.7em;
  }

  #tags a.delete:hover {
    opacity: 1;
    background: white;
    color: black;
    border: 1px solid red;
  }

form.addTag {
  width: 100%;
}

  form.addTag input {
    float: right;
    width: 25%;
  }

  #tag {
    float: left;
    width: 70%;
    outline: none;
    background: #ddd;
    border: 1px solid #888;
    border-radius: 1em 2em 2em 1em;
    padding: 2px 6px;
    margin-left: 2px;
    box-sizing: border-box;
    height: 24px;
    color: #505050;
  }

  #tagSubmit {
    box-sizing: border-box;
    height: 24px;
  }

#navigator {
  padding: 0;
  margin-bottom: 1em;
}

  #navigator a, #navigator .first, #navigator .last {
    width: 50%;
    height: 81px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
    opacity: 0.5;
    padding: 3px;
  }

  #navigator .first, #navigator .last {
    padding-top: 2em;
  }

  #navigator a:hover {
    opacity: 1;
  }

  #navigator a.previous, #navigator .first {
    padding-right: 10px;
    text-align: right;
    border-right: none;
    background: url('/images/arrow_left.png') no-repeat left;
  }

  #navigator a.next, #navigator .last {
    padding-left: 10px;
    text-align: left;
    border-left: none;
    background: url('/images/arrow_right.png') no-repeat right;
  }

    #navigator a img {
      border: 1px solid #777;
    }

#paginator {
  border: 1px solid transparent;
  margin: 1em auto;
  width: 15em;
  position: relative;
}

  #paginator a {
    opacity: 0.5;
    text-decoration: none;
    color: #505050;
  }

  #paginator a, #paginator .first, #paginator .last {
    display: inline-block;
    width: 40%;
    position: absolute;
  }

  #paginator a.previous, #paginator .first {
    background: url('/images/arrow_left.png') no-repeat left;
    padding-left: 10px;
    left: 0;
  }

  #paginator a.next, #paginator .last {
    background: url('/images/arrow_right.png') no-repeat right;
    right: 0;
  }

  #paginator .pageMarker {
    display: inline-block;
    width: 20%;
    position: absolute;
    left: 40%;
  }

  #paginator a:hover {
    opacity: 1;
  }

footer {
  clear: both;
  border-top: 3px solid #888;
  text-align: right;
  padding-top: 0.5em;
  margin-top: 3em;
  font-size: 0.8em;
}
